<?xml version="1.0"?>

<!DOCTYPE module PUBLIC "-//Puppy Crawl//DTD Check Configuration 1.1//EN"
        "http://www.puppycrawl.com/dtds/configuration_1_1.dtd">

<module name="Checker">
    <property name="localeLanguage" value="en"/>
    <module name="TreeWalker">
        <module name="OperatorWrap">
            <property name="option" value="eol"/>
        </module>
        <module name="VisibilityModifier">
            <property name="protectedAllowed" value="true"/>
        </module>
        <module name="EqualsHashCode"/>
        <module name="FallThrough"/>
        <module name="MissingSwitchDefault"/>
        <module name="ConstantName"/>
        <module name="Regexp">
            <property name="format" value="[ \t]+$"/>
            <property name="illegalPattern" value="true"/>
            <property name="message" value="Trailing whitespace"/>
        </module>
        <module name="DeclarationOrder"/>
        <module name="StringLiteralEquality"/>
        <module name="MultipleVariableDeclarations"/>
        <module name="Indentation">
            <property name="forceStrictCondition" value="true"/>
        </module>
        <module name="LineLength">
            <property name="max" value="120"/>
        </module>
    </module>
    <module name="FileTabCharacter"/>
    <module name="NewlineAtEndOfFile"/>
</module>
